.country {
  border: 4px solid red;
  padding: 20px;
  padding-left: 3rem;
  background-color: khaki;
  color: navy;
  margin: 20px;
}

.country img {
  width: 10rem;
}

.country-visited {
    background-color: darkgray;
}

.btn-visited {
    background-color: green;
}